<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hundsun.exchange.chain.uc.mapper.MsgTemplateDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hundsun.exchange.chain.uc.entity.MsgTemplate">
        <id column="ID" property="id" />
        <result column="CODE" property="code"/>
        <result column="SUBJECT" property="subject"/>
        <result column="CLIENT" property="client"/>
        <result column="TYPE" property="type" />
        <result column="GMT_CREATE" property="gmtCreate"/>
        <result column="GMT_MODIFY" property="gmtModify"/>
        <result column="IS_DELETE" property="isDelete"/>
        <result column="EXCHANGE_ID" property="exchangeId" />
        <result column="PROVIDER" property="provider" />
        <result column="CODE_ALIAS" property="codeAlias" />
        <result column="TEXT" property="text" />
    </resultMap>
</mapper>
